*{
    box-sizing: border-box;
}
.container {
    max-width: 1920px;
    height: 700px;
    margin: auto;
    background: #EEEFF1;
}
.header {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Revalia', cursive;
    color: #228B22;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin-left: 400px;
}
.nav-menu {
    margin-right: 300px;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    margin-right: 42px;
}
.nav-link:hover {
    color: #228B22;
    font-size: 18px;
}
.promo {
    margin-left: 500px;
    display: flex;
}
.notebook {
    margin-right: 142px;
    margin-top: 161px;
}
.promo-text {
    margin-top: 100px;
}
.promo-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
}
.promo-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 540px;
}
.button-write {
    width: 225px;
    height: 65px;
    background: #228B22;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    border: none;
    color: #ffffff;
    margin-top: 50px;
}
.title-me {
    margin-top: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center
}
.p-about-me {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 100px;
}
.container-projects {
    width: 1920px;
    height: 250px;
    background: #228B22;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-1 {
    display: flex;
    align-items: center;
    margin-left: 405px;
}
.project-text {
    margin-left: 20px;
}
.project-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
}
.project-span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.block-2 {
    display: flex;
    align-items: center;
}
.block-3 {
    display: flex;
    align-items: center;
}
.block-4 {
    display: flex;
    align-items: center;
    margin-right: 405px;
}
.container-skills {
    width: 1920px;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.my-skills {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-left: 386px;
    margin-top: 204px;
}
.skills {
    width: 445px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    border-bottom: 4px solid;
    border-color: #228B22;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-left: 386px;
}
.photo {
    width: 450px;
    height: 555px;
    margin-right: 386px;
    margin-top: 100px;
}
.container-process {
    width: 1920px;
    height: 1000px;
    background: #EEEFF1;
    margin: auto;
}
.process-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    padding-top: 100px;
}
.process-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-top: 50px;
}
.video {
    width: 1110px;
    height: 600px;
    margin-top: 57px;
    margin-left: 405px;
}
.container-examples {
    width: 1920px;
    height: 950px;
    margin: auto;
}
.examples-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    padding-top: 100px;
}
.examples-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-top: 50px;
}
.examples-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.examples {
    width: 600px;
    height: 555px;
    border: 4px solid;
    border-color: black;
    margin-top: 57px;
}
.delivery {
    margin-left: 50px;
}
.trailer {
    margin-right: 50px;
}
.container-basement {
    width: 1920px;
    height: 750px;
    margin: auto;
    background: #EEEFF1;
}
.basement-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    padding-top: 100px;
}
.basement-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-top: 50px;
}
.input-top {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    width: 255px;
    height: 50px;
    padding-left: 20px;
    margin-top: 65px;
    margin-right: 25px;
}
.input-down {
    width: 540px;
    height: 175px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    padding-left: 20px;
    padding-bottom: 120px;
    margin-left: 690px;
    margin-top: 20px;
}
.name {
    margin-left: 690px;
}
.button-send {
    width: 190px;
    height: 55px;
    background: #228B22;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    border: none;
    color: #ffffff;
    margin-top: 50px;
    margin-left: 864px;
}
.footer {
    width: 1920px;
    height: 151px;
    margin: auto;
    background: #228B22;
    display: flex;
    justify-content: space-between;
}
.footer-text {
    margin-left: 406px;
    margin-top: 25px;
}
.footer-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
}
.security {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.logos {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 389px;
}
.vk {
    margin-right: 22px;
}

@media (max-width: 1600px) {
    .container {
        max-width: 1600px;
    }
    .logo {
        margin-left: 300px;
    }
    .nav-menu {
        margin-right: 200px;
    }
    .promo {
        margin-left: 350px;
    }
    .container-projects {
        max-width: 1600px;
    }
    .block-1 {
        margin-left: 305px;
    }
    .block-4 {
        margin-right: 305px;
    }
    .container-skills {
        max-width: 1600px;
    }
    .my-skills {
        margin-left: 286px;
    }
    .skills {
        margin-left: 286px;
    }
    .photo {
        margin-right: 286px;
    }
    .container-process {
        max-width: 1600px;
    }
    .video {
        margin-left: 230px;
    }
    .container-examples {
        max-width: 1600px;
        height: 800px;
    }
    .examples {
        width: 450px;
        height: 405px;
    }
    .delivery {
        margin-left: 25px;
    }
    .trailer {
        margin-right: 25px;
    }
    .container-basement {
        max-width: 1600px;
    }
    .name {
        margin-left: 530px;
    }
    .input-down {
        margin-left: 530px;
    }
    .button-send {
        margin-left: 700px;
    }
    .footer {
        max-width: 1600px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1440px;
    }
    .logo {
        margin-left: 200px;
    }
    .nav-menu {
        margin-right: 100px;
    }
    .nav-link {
        font-size: 12px;
    }
    .nav-link:hover {
        font-size: 14px;
    }
    .promo {
        margin-left: 250px;
    }
    .container-projects {
        max-width: 1440px;
    }
    .block-1 {
        margin-left: 205px;
    }
    .block-4 {
        margin-right: 205px;
    }
    .container-skills {
        max-width: 1440px;
    }
    .my-skills {
        margin-left: 186px;
    }
    .skills {
        margin-left: 186px;
    }
    .photo {
        margin-right: 186px;
    }
    .container-process {
        max-width: 1440px;
    }
    .video {
        margin-left: 150px;
    }
    .container-examples {
        width: 1440px;
        min-height: 2650px;
    }
    .examples-images {
        display: flex;
        align-items: center;
        flex-direction: column;    
    }
    .examples {
        width: 800px;
        height: 700px;
    }
    .starwars {
        margin-left: 50px;
    }
    .container-basement {
        max-width: 1440px;
    }
    .name {
        margin-left: 450px;
    }
    .input-down {
        margin-left: 450px;
    }
    .button-send {
        margin-left: 620px;
    }
    .footer {
        max-width: 1440px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        height: 550px;
    }
    .logo {
        margin-left: 100px;
    }
    .nav-link {
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.1em;
        margin-right: 20px;
    }
    .nav-link:hover {
        font-size: 14px;
    }
    .promo {
        margin-left: 100px;
    }
    .notebook {
        margin-top: 100px;
        margin-right: 75px;
    }
    .notebook-image {
        width: 250px;
    }
    .promo-text {
        margin-top: 25px;
    }
    .promo-title {
        font-size: 40px;
    }
    .promo-subtitle {
        font-size: 14px;
    }
    .container-projects {
        max-width: 1024px;
    }
    .block-1 {
        margin-left: 105px;
    }
    .block-4 {
        margin-right: 105px;
    }
    .container-skills {
        max-width: 1024px;
    }
    .my-skills {
        margin-left: 86px;
    }
    .skills {
        margin-left: 86px;
        width: 300px;
    }
    .photo {
        margin-right: 86px;
        width: 350px;
        height: 455px;
    }
    .container-process {
        max-width: 1024px;
        height: 900px;
    }
    .video {
        margin-left: 50px;
        width: 915px;
        height: 500px;
    }
    .container-examples {
        width: 1024px;
        min-height: 2650px;
    }
    .examples-images {
        display: flex;
        align-items: center;
        flex-direction: column;    
    }
    .examples {
        width: 800px;
        height: 700px;
    }
    .starwars {
        margin-left: 50px;
    }
    .container-basement {
        max-width: 1024px;
    }
    .name {
        margin-left: 240px;
    }
    .input-down {
        margin-left: 240px;
    }
    .button-send {
        margin-left: 410px;
    }
    .footer {
        max-width: 1024px;
    }
    .footer-text {
        margin-left: 100px;
    }
    .logos {
        margin-right: 100px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 768px;
        height: 550px;
    }
    .logo {
        font-size: 40px;
    }
    .nav-link {
        font-size: 10px;
        line-height: 26px;
        letter-spacing: 0.1em;
        margin-right: 20px;
    }
    .nav-link:hover {
        font-size: 12px;
    }
    .promo {
        margin-left: 50px;
    }
    .notebook {
        margin-top: 75px;
        margin-right: 50px;
    }
    .notebook-image {
        width: 225px;
    }
    .promo-text {
        margin-top: 15px;
    }
    .promo-title {
        font-size: 30px;
    }
    .promo-subtitle {
        font-size: 12px;
        width: 340px;
    }
    .button-write {
        width: 175px;
        height: 50px;
    }
    .button-write-text {
        font-size: 14px;
    }
    .title-me {
        margin-top: 50px;
        font-size: 25px;
    }
    .p-about-me {
        font-size: 13px;
    }
    .container-projects {
        max-width: 768px;
        height: 175px;
    }
    .project-logo {
        width: 40px;
    }
    .project-text {
        margin-left: 15px;
    }
    .project-title {
        font-size: 18px;
    }
    .project-span {
        font-size: 14px;
    }
    .block-1 {
        margin-left: 50px;
        font-size: 12px;
    }
    .block-4 {
        margin-right: 50px;
    }
    .container-skills {
        max-width: 768px;
        height: 450px;
        margin-bottom: 50px;
    }
    .my-skills {
        margin-left: 50px;
        margin-top: 50px;
        font-size: 30px;
    }
    .skills {
        margin-left: 50px;
        width: 200px;
        font-size: 14px;
        border-bottom: 3px #228B22 solid;
    }
    .photo {
        margin-right: 50px;
        width: 250px;
        height: 355px;
        margin-top: 20px;
    }
    .container-process {
        max-width: 768px;
        height: 750px;
    }
    .process-title {
        font-size: 30px;
        padding-top: 50px;
    }
    .process-text {
        font-size: 14px;
    }
    .video {
        margin-left: 25px;
        width: 710px;
        height: 400px;
    }
    .container-examples {
        width: 768px;
        min-height: 1950px;
    }
    .examples-title {
        font-size: 30px;
        padding-top: 50px;
    }
    .examples-text {
        font-size: 13px;
    }
    .examples-images {
        display: flex;
        align-items: center;
        flex-direction: column;    
    }
    .examples {
        width: 600px;
        height: 500px;
    }
    .container-basement {
        max-width: 768px;
    }
    .basement-title {
        font-size: 30px;
        padding-top: 50px;
    }
    .name {
        margin-left: 105px;
    }
    .input-down {
        margin-left: 105px;
    }
    .button-send {
        margin-left: 275px;
    }
    .footer {
        max-width: 768px;
    }
    .footer-text {
        margin-left: 50px;
    }
    .logos {
        margin-right: 50px;
    }
}

@media (max-width: 425px) {
    .container {
        width: 425px;
        height: 500px;
    }
    .header {
        padding-top: 25px;
    }
    .logo {
        font-size: 30px;
        margin-left: 50px;
    }
    .nav-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
    }
    .nav-link {
        font-size: 10px;
        line-height: 26px;
        letter-spacing: 0.1em;
        margin-right: 20px;
    }
    .nav-link:hover {
        font-size: 12px;
    }
    .promo {
        margin-left: 25px;
    }
    .notebook {
        margin-top: 100px;
        margin-right: 25px;
    }
    .notebook-image {
        width: 150px;
    }
    .promo-title {
        font-size: 20px;
    }
    .promo-subtitle {
        font-size: 8px;
        width: 200px;
    }
    .button-write {
        width: 125px;
        height: 35px;
        margin-top: 20px;
    }
    .button-write-text {
        font-size: 10px;
    }
    .title-me {
        margin-top: 50px;
        font-size: 20px;
        margin-top: 25px;
    }
    .p-about-me {
        font-size: 8px;
        margin-bottom: 50px;
    }
    .container-projects {
        max-width: 425px;
        height: 125px;
    }
    .project-logo {
        width: 25px;
    }
    .project-text {
        margin-left: 5px;
    }
    .project-title {
        font-size: 12px;
        line-height: 10px;
    }
    .project-span {
        font-size: 8px;
        line-height: 10px;
    }
    .block-1 {
        margin-left: 20px;
        font-size: 12px;
    }
    .block-4 {
        margin-right: 20px;
    }
    .container-skills {
        max-width: 425px;
        height: 300px;
        margin-bottom: 50px;
    }
    .my-skills {
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .skills {
        margin-left: 20px;
        width: 150px;
        font-size: 10px;
        border-bottom: 2px #228B22 solid;
        padding: 0;
        margin-top: 20px;
    }
    .photo {
        margin-right: 20px;
        width: 200px;
        height: 255px;
        margin-top: 20px;
    }
    .container-process {
        max-width: 425px;
        height: 500px;
    }
    .process-title {
        font-size: 20px;
        padding-top: 50px;
        padding-top: 25px;
    }
    .process-text {
        font-size: 10px;
        width: 350px;
        margin-left: 33px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .video {
        margin-left: 38px;
        width: 350px;
        height: 200px;
        margin-top: 25px;
    }
    .container-examples {
        width: 425px;
        min-height: 1500px;
    }
    .examples-title {
        font-size: 20px;
        padding-top: 25px;
    }
    .examples-text {
        font-size: 8px;
        margin-top: 25px;
    }
    .examples-images {
        display: flex;
        align-items: center;
        flex-direction: column;    
    }
    .examples {
        width: 350px;
        height: 400px;
        margin-top: 25px;
    }
    .container-basement {
        max-width: 425px;
        height: 450px;
    }
    .basement-title {
        font-size: 20px;
        padding-top: 25px;
    }
    .basement-text {
        font-size: 10px;
        margin-top: 25px;
    }
    .input-top {
        width: 150px;
        height: 30px;
        padding-left: 10px;
        margin-top: 25px;
    }
    .name {
        margin-left: 55px;
        margin-right: 14px;
    }
    .input-down {
        margin-left: 55px;
        width: 320px;
        height: 100px;
        padding-left: 10px;
        padding-bottom: 60px;
    }
    .button-send {
        margin-left: 140px;
        margin-top: 25px;
        width: 140px;
        height: 40px;
    }
    .footer {
        max-width: 425px;
        height: 100px;
    }
    .footer-text {
        margin-left: 25px;
    }
    .logos {
        margin-right: 25px;
    }
    .footer-name {
        font-size: 15px;
        line-height: 5px;
    }
    .footer-text {
        font-size: 10px;
        line-height: 5px;
    }
}

@media (max-width: 425px) {
    .container {
        width: 320px;
        height: 500px;
    }
    .header {
        padding-top: 25px;
    }
    .logo {
        font-size: 30px;
        margin-left: 50px;
    }
    .nav-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
    }
    .nav-link {
        font-size: 10px;
        line-height: 26px;
        letter-spacing: 0.1em;
        margin-right: 20px;
    }
    .nav-link:hover {
        font-size: 12px;
    }
    .promo {
        margin-left: 15px;
    }
    .notebook {
        margin-top: 100px;
        margin-right: 15px;
    }
    .notebook-image {
        width: 100px;
    }
    .promo-title {
        font-size: 15px;
    }
    .promo-subtitle {
        font-size: 8px;
        width: 180px;
    }
    .button-write {
        width: 125px;
        height: 35px;
        margin-top: 20px;
    }
    .button-write-text {
        font-size: 10px;
    }
    .title-me {
        margin-top: 50px;
        font-size: 20px;
        margin-top: 25px;
    }
    .p-about-me {
        font-size: 8px;
        margin-bottom: 50px;
    }
    .container-projects {
        max-width: 320px;
        height: 100px;
    }
    .project-logo {
        width: 18px;
    }
    .project-text {
        margin-left: 5px;
    }
    .project-title {
        font-size: 10px;
        line-height: 5px;
    }
    .project-span {
        font-size: 6px;
        line-height: 5px;
    }
    .block-1 {
        margin-left: 10px;
        font-size: 10px;
    }
    .block-4 {
        margin-right: 10px;
    }
    .container-skills {
        max-width: 320px;
        height: 250px;
        margin-bottom: 50px;
    }
    .my-skills {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .skills {
        margin-left: 10px;
        width: 100px;
        font-size: 8px;
        border-bottom: 2px #228B22 solid;
        padding: 0;
        margin-top: 20px;
    }
    .photo {
        margin-right: 20px;
        width: 150px;
        height: 205px;
        margin-top: 20px;
    }
    .container-process {
        max-width: 320px;
        height: 400px;
    }
    .process-title {
        font-size: 15px;
        padding-top: 50px;
        padding-top: 25px;
    }
    .process-text {
        font-size: 8px;
        width: 250px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .video {
        margin-right: 10px;
        width: 250px;
        height: 150px;
        margin-top: 10px;
    }
    .container-examples {
        width: 320px;
        min-height: 1350px;
    }
    .examples-title {
        font-size: 15px;
        padding-top: 25px;
    }
    .examples-text {
        font-size: 8px;
        margin-top: 25px;
        width: 300px;
    }
    .examples-images {
        display: flex;
        align-items: center;
        flex-direction: column;    
    }
    .examples {
        width: 280px;
        height: 330px;
        margin-top: 25px;
    }
    .container-basement {
        max-width: 320px;
        height: 450px;
    }
    .basement-title {
        font-size: 15px;
        padding-top: 15px;
    }
    .basement-text {
        font-size: 8px;
        margin-top: 15px;
    }
    .input-top {
        width: 114px;
        height: 20px;
        padding-left: 10px;
        margin-top: 25px;
    }
    .name {
        margin-left: 35px;
        margin-right: 14px;
    }
    .input-down {
        margin-left: 35px;
        width: 250px;
        height: 75px;
        padding-left: 5px;
        padding-bottom: 50px;
    }
    .button-send {
        margin-left: 90px;
        margin-top: 25px;
        width: 140px;
        height: 40px;
    }
    .footer {
        max-width: 320px;
        height: 90px;
    }
    .footer-text {
        margin-left: 25px;
    }
    .logos {
        margin-right: 25px;
    }
    .footer-name {
        font-size: 11px;
        line-height: 5px;
    }
    .security {
        font-size: 9px;
        line-height: 5px;
    }
}